.header {
  height: 520px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9da9c2;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.header h2 {
  margin: auto;
}