.wrapper.ten {
  background-color: #4056A1;
}
.bounce {
  font-size: 5rem;
  width: 100%;
  margin: 2rem auto;
  display: inline-flex;
  justify-content: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, #4056A1);
}
.bounce:hover span {
  display: inline-flex;
  color: #FFFFFF;
  font-family: "bungee", sans-serif;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  50%,
  100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-20px);
  }
}
.ten span:nth-of-type(1) {
  animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
  animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
  animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
  animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
  animation-delay: 0.6s;
}
.ten span:nth-of-type(7) {
  animation-delay: 0.7s;
}

.navBar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  top: 0;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
}

.navBar span {
  font-family: bungee, sans-serif;
  font-size: 40px;
  align-self: center;
}

.navBar div {
align-self: center;
}

.navBar i {
  display: flex;
  justify-content: center;
}

.navBar .wrapper.ten {
  margin-top: -8rem;
}

@media(max-width: 1024px) {
  .navBar {
    background-color: #9CA9C2;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
}

@media(max-width: 1024px) {
  .wrapper.ten {
    background-color: #9CA9C2; 
    -webkit-box-reflect: linear-gradient(transparent, #9CA9C2);
  }
}